                <section>
                    <p class="title" data-magellan-arrival="{{options.href}}"><a href="#{{options.href}}">{{title}}</a></p>
                    {{#if options.subs}}
                    {{#aside-subTitle options.subs}}{{/aside-subTitle}}
                    {{/if}}
                </section>

